@font-face {
    font-family: 'Transforma';
    src: url('/recursos/TransformaMix_Trial-SemiBold-BF660ca8e1a26a1.woff');
}

:root{
    --base-bege: #fef7e7;
    --base-verde-claro: #fcfdee;
    --laranja: #f78012;
    --amarelo: #ffc900;
    --verde: #d5dd3f;
    --preto: #000000;
    --branco: #ffffff;
    --fonte-principal: 'Inter', system-ui, sans-serif;
    --fonte-titulos: 'Transforma', serif;
}

h1{
    font-family: var(--fonte-titulos);
}